/* Navbar Styles */
.navbar {
    background-color: rgba(0, 0, 0, 0.6);/*#333; /* Dark background color */
    padding: 1rem; /* Padding for the navbar */
    position: fixed; /* Make the navbar fixed at the top */
    top: 0;
    left: 0;
    margin-top: 1%;
    margin-left: 1%;
    width: 96%; /* Full-width navbar */
    z-index: 100; /* Make sure it stays above other content */
    border-radius: 5px;
}

.navbar-container {
    display: flex;
    justify-content: space-between; /* Space between logo and links */
    align-items: center; /* Center items vertically */
}

.logo img{
    height:50px;
}

.nav-links a {
    color: white; /* Link color */
    text-decoration: none; /* Remove underline from links */
    margin: 0 15px; /* Spacing between links */
    font-weight: bold; /* Bold links */
}

.nav-links a:hover {
    text-decoration: underline; /* Underline on hover */
}
