.navbar {
    background-color: #8cc3ee;
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    padding: 14px 20px;
    z-index: 999;
    justify-content: flex-end; 
}

.navbar div {
    color: rgb(3, 4, 61);
    text-decoration: none;
    padding: 14px 20px;
    text-align: center;
}

.navbar div:hover {
    background-color: #ddd;
    color: black;
    cursor: pointer;
}

.navbar div.active {
    background-color: #04AA6D;
    color: white;
}