 /* .background {
    background-image: url('/grocery.png');
    height: 90vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    z-index: -1;
  }  */
  .container {
      position: relative;
      height: 90vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      overflow: hidden;
  }
  /* Search Box Styling */
  .search-box {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .search-box h1 {
    margin-bottom: 10px;
    font-size: 24px;
  }
  
  .search-bar {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Icons for Grocery Products */
  .product-icons {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    width: 80%;
  }
  
  .icon {
    text-align: center;
  }
  
  .icon img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .icon p {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
  }
  