body {
    position: relative; 
    height: 100vh; 
    margin: 0; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: #86c848; 
    font-family: 'Arial', sans-serif; 
    overflow-x: hidden;
}

.container {
    background-color: white;
    max-width: 350px; 
    width: 100%; 
    padding: 0rem 2rem; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
    display: flex;
    flex-direction: column; 
}

.container-header {
    max-width: 350px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.8rem; 
    font-weight: 500;
    color: #343a40; 
    position: relative; 
}

.divider {
    width: calc(100% + 3.9rem);
    margin-left: -2rem;
    background-color: #ced4da;
}

.container-body {
    max-width: 350px;
    margin-top: 2rem;
}

.container-label {
    margin-bottom: 10px;
    font-weight: 200; 
    color: #495057; 
}

.container-input {
    padding: 0.7rem;
    width: calc(100%); 
    margin-bottom: 1.5rem;
    margin-top: 0.5rem; 
    border: 1px solid #ced4da; 
    border-radius: 5px; 
    box-sizing: border-box; 
    transition: border-color 0.2s; 
}

.container-input:focus {
    border-color: #007bff; 
    outline: none; 
}

.btn {
    margin-top: 3rem;
    background-color: #007bff; 
    color: white; 
    padding: 0.7rem 1rem; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin: 2rem auto; 
    display: block; 
    text-align: center; 
}

.btn:hover {
    background-color: #0056b3; 
    transform: translateY(-3px); 
}

.container-footer {
    font-size: 0.8rem;
    text-align: center;
    margin-top: -0.5rem;
}

.container-footer a {
    color: #007bff; 
    text-decoration: none; 
}

.container-footer a:hover {
    text-decoration: underline; 
}

@media (max-width: 350px) {
    .container {
        padding: 1rem; 
    }

    .container-header {
        font-size: 1.5rem; 
    }

    .container-input {
        padding: 8px; 
    }

    .btn {
        padding: 8px; 
    }
}
